<header class="w3-container w3-text-indigo">
    <!-- LOGO -->
    <a routerLink="">
        <h1 class="w3-half w3-text-orange logo">🏵️<strong>Mintz<span class="w3-text-indigo"> Informática</span></strong></h1>
    </a>

    <div class="w3-half w3-container">
        <!-- MENU -->
        <nav class="w3-bar">
            <div class="w3-right">
                <a class="w3-button w3-bar-item" routerLink="produtos">Produtos</a>
                <a class="w3-button w3-bar-item" routerLink="carrinho"><i class="fa-solid fa-cart-shopping"></i><span class="quant-carrinho">{{carrinhoService.obterCarrinho().length}}</span></a>
                <a class="w3-button w3-bar-item" routerLink="login"><i class="fa-regular fa-user"></i></a>
            </div>
        </nav>

        <!-- BARRA DE BUSCA -->
        <app-barra-pesquisa></app-barra-pesquisa>
        

    </div>
</header>